*{
    box-sizing: border-box;
    width:100%;
    max-width: 2200px;
    margin: auto;
}
h1, h2, h3, h4, li, button{
  font-family : "Noto Serif Display", serif;
  font-weight: 400;
}
h1{
  font-size: 38px;
  font-weight: 500;
  color: hsl(11deg 76.79% 68.39%);
}
h2{
  font-size: 32px;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
}
h4{
  max-width: 1800px;
    width: 100%;
    margin: auto;
    color: hsla(11, 100%, 62.2%, 1);
    font-size: 22px;
    text-transform: uppercase;
}
h3{
  font-size: 20px;
  font-weight: 600;
}
p{
  font-family: "Bodoni Moda", serif;
  font-weight: 500;
}
.JourNight{
  width:50px;
  height: 50px;
  font-size: 25px;
  background-color: hsl(11deg 76.79% 68.39%);
  border:1px solid hsl(11deg 76.79% 68.39%);
  border-radius: 7px;
  box-shadow: 2px 2px 2px #524e4e;
  position: absolute;
  top:70px;
  right:70px;
}
.contactMe .annotation h4{
  margin-left: 85px;
}