/* Conteneur principal pour l'image et le texte */
.containAPropos {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 0px;
}

/* Section de l'image */
.imageSection {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}

.imageSection img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Section du texte */
.textSection {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textSection h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.textSection h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #666; /* Couleur secondaire */
}
.qualites p{
    margin-bottom: 200px;
    }
.textSection p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}
.listService li, .listUsers li{
margin-left:50px;
}
.listService li::before, .listUsers li::before{
height:0px;
}
.listService li:hover, .listUsers li:hover{
    color:#9f7809;;
}

/* Style pour les tablettes en mode paysage (1024px max) */
@media (max-width: 1024px) {
    .containAPropos {
        flex-direction: column; /* Empile les sections verticalement */
        gap: 0; /* Supprimer l'espacement entre les sections */
    }

    .imageSection {
        flex: 0 0 100%; /* L'image occupe toute la largeur */
        margin-bottom: 20px; /* Ajouter un espacement sous l'image */
    }

    .imageSection img {
        width: 100%; /* Image pleine largeur */
    }

    .textSection {
        flex: 0 0 100%; /* Le texte occupe toute la largeur */
        padding: 0 20px; /* Ajouter des marges latérales */
    }
}

/* Style pour les téléphones (480px max) */
@media (max-width: 480px) {
    .containAPropos {
        flex-direction: column; /* Empile uniquement les sections de texte */
        padding: 10px;
    }

    .imageSection {
        display: none; /* Masque complètement l'image */
    }

    .textSection {
        width: 100%; /* Prend toute la largeur */
        padding: 0 10px; /* Réduction des marges */
    }

    .headerText h1 {
        font-size: 20px; /* Texte plus petit */
    }

    .buttonHeader button {
        font-size: 12px; /* Boutons plus petits */
        padding: 8px;
    }

    .menuheader,
    .logoheader {
        max-width: 100%;
    }
}
