.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.content {
    flex: 1; /* Pour que le contenu prenne l'espace disponible */
}
.content-erreur{
    max-width: 1400px;
    width: 100%;
    margin: auto;
    position: relative;
    bottom: 180px;
    padding-bottom: 50px;
}
.header-erreur{
    max-width: 1400px;
    margin: auto;
}
.header-erreur .logo img{
    position: relative;
    bottom: 180px;
}
.footer {
    flex-shrink: 0; /* Empêche le footer de rétrécir lorsqu'il y a peu de contenu */
}
.Erreur404 {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}
.Erreur404 h1{
    color: #048B9A;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top: 150px;
    max-width: 2400px;
    height: 250px;
}
.text404 h2{
    max-width: 1800px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px 0px 35px 0px;
    color: #5EBDB0;
}
.text404 p{
    text-align: center;
    position: relative;
    max-width: 1200px;
    font-size: 35px;
    font-weight: 600;
    color: #008A77;
    width: 100%;
    margin: auto;
}
.text404 a{
    font-size: 20px;
    text-transform: none;
    font-style: oblique;
    text-decoration: initial;
    font-weight: 100;
    color: #F18971;
}
.text404 a:hover{
    color:#0E3653;
}
.socket{
    max-width: 1200px;
    margin: auto;
    width: 100px;
    z-index: 9999;
}
.imageErreur{
    max-width: 1800px;
    width:100%;
    margin: auto;
    display: flex;
    margin-block-start: auto;
    position: relative;
    justify-content: center;
}
.imageErreur img{
    max-width: 250px;
    width: 100%;

}
.chiffre-l {
    position: absolute;
    right: 450px;
    z-index: 0;
    bottom: 50px;
}
.chiffre-r{
    width: 210px;
    margin: auto;
    position: relative;
    bottom: 45px;
    left: 130px;
}

@media screen and (max-width: 1400px) and (min-width: 1024px){

    
}
@media screen and (max-width: 1023px) and (min-width: 900px){
    
}
@media screen and (max-width: 899px) and (min-width: 768px){
    
}
@media screen and (max-width: 767px) and (min-width: 600px){
    
}
@media screen and (max-width: 599px) and (min-width: 375px){
    
}

@media screen and (max-width: 374px) {
    
}
