.nav{
    max-width: 2200px;
    width: 100%;
    display: flex;
    background-color: black;
    border-bottom: 1px solid hsla(252,13%,46%,1);
}
.logoheader{
    max-width: 1000px;
    margin: 0px;
    width: 100%;
}
.menuheader{
    max-width: 1200px;
    margin: 0px;
    width: 100%;
}
.header{
    background-color: black;
    display: flex;
}

.headerText{
    max-width: 700px;
    width: 100%;
    margin: auto;
}
.titre{
    padding-top: 120px;
    padding-left: 50px;
}
.headerimg{
    max-width: 1400px;
    width: 100%;
    margin: auto;
}
.buttonHeader{
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    padding-top:150px;
}
.buttonHeader button{
    max-width: 250px;
    width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 4px 17px #f2f2f25c;
    background-color: hsl(11deg 76.79% 68.39%);
    border: 0px solid ;
    font-size: 18px;
    font-weight: 500;
    text-transform:capitalize;
}
.buttonHeader button:active{
    background-color: #f2f2f25c;
    color:white;
}