.header h4{
    color: #f1d276;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    padding-left: 50px;
    padding-top: 50px;
    text-transform: capitalize;
    text-align:center;
}
