.header h4{
    color: #f1d276;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    padding-left: 50px;
    padding-top: 50px;
    text-transform: capitalize;
    text-align:center;
}

@media (max-width:768px){
.header .headerimg img {
        height: 200px;
        margin: 0px 0px 0px 0px;
    }

    }

@media (max-width:480px) {
.header h4{
    font-size:18px;
    padding-left:0px;
    padding-top:10px;

    }
}
