.AboutMe h3{
    color: #F1D276;
    vertical-align: text-top;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    z-index: 11111;
    position: absolute;
}
.portrait-text{
    max-width: 800px;
    width: 100%;
    margin: 0px;
    padding-top: 50px;
}
.portrait-text p{
    color: #E1E7CE;
    max-width: 1400px;
    text-align: justify;
    font-size: 15px;
    width: 100%;
    margin: 0px;
    padding-top: 20px;
}

.portrait-img img{
    max-width: 400px;
    position: relative;
    bottom:50px
}
.portrait-img{
    max-width: 800px;
    width: 100%;
    margin: 0px;
    
}
.portrait-img img{
    max-width: 800px;

    
}
.portrait-margaux{
    display: flex;
    max-width: 1800px;
    width: 100%;
    margin: auto;
}
.buttonCv{
    width: 250px;
    height: 50px;
    font-size: 14px;
    background: hsl(339, 35%, 79%);
    border: 0px solid;
    border-radius: 5px;
    position: relative;
    bottom: 50px;
    left: 1300px;
    color: #09002d;
    font-weight: 400;
    box-shadow: 2px 2px 2px #e4c5d0;
}
.buttonCv:active{
    background-color: transparent;
    border:2px solid hsl(44, 89%, 33%);
    color: hsl(44, 89%, 33%);
}
@keyframes zoomAnimation {
    0% {
      transform: scale(0); 
    }
    50% {
      transform: scale(1.1); 
    }
    100% {
      transform: scale(0.5); 
    }
  }
  
  .zoom {
    animation: zoomAnimation 1s ease-in-out;
  }
  
  
