#techno{
    position: relative;
    bottom: 250px;
}
ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
li {
    display: block;
    margin: auto;
    width: 200px;
    text-align-last: center;   
}
.portfolioContent a{
    color: #fff;
}
.portfolioContent a:hover{
    color: #0D3653;
}
.skills{
    position: relative;
    top: 100px;
}
.skills h2{
    color: #008A77;
    text-transform: uppercase;
    text-decoration: underline;
}
.skills li img {
    width: 80px;
}

.dev{
    max-width: 1400px;
}
.seo{
    max-width: 1000px;
}
.graf{
    width: 800px;
}

.bloc-ul{
    display: flex;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    justify-content: flex-start;
    padding: 20px 0px;
}


@media screen and (max-width: 1400px) and (min-width: 1024px){
    li{
        width: 150px px;
    }
    #techno{
        max-width: 1000px;
    }
}
@media screen and (max-width: 1023px) and (min-width: 900px){
    .skills li img{
        width:60px;
    }
}
@media screen and (max-width: 899px) and (min-width: 768px){
    .skills li img{
        width: 50px;
    }
    ul{
        margin-top: 10px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 767px) and (min-width: 600px){
    .skills li img{
        width: 40px;
    }
        
}
@media screen and (max-width: 599px) {
    .skills li img{
        width: 40px;
    }
    .graf{
        width: 200px;
    }
    .bloc-ul{
        padding: 0px;
    }
}



