#techno{
    position: relative;
    bottom: 250px;
}
ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
li {
    display: block;
    margin: auto;
    width: 200px;
    text-align-last: center;   
}
.portfolioContent a{
    color: #008A77;
}
.skills{
    position: relative;
    top: 100px;
}
.skills h2{
    color: #008A77;
    text-transform: uppercase;
    text-decoration: underline;
}
.skills li img {
    width: 80px;
}

.dev{
    max-width: 1400px;
}
.seo{
    max-width: 1000px;
}
.graf{
    width: 800px;
}

.bloc-ul{
    display: flex;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    justify-content: flex-start;
    padding: 20px 0px;
}
