#contact{
  max-width: 1400px;
  width: 100%;
  margin: auto;
  position: relative;
  bottom: 500px;

}
.textContact{
    position: relative;
    bottom: 100px;
    margin-left: 50px;
    padding-top: 50px;
}
.containContact{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding-bottom: 200px;
    padding-top: 50px;
}
.containRight{
    max-width: 530px;
    width: 80%;
    margin: auto;
}
.containleft{
    max-width: 700px;
    width: 100%;
    margin: auto;
}
input, textarea{
    border: 0px;
    background-color: #5ebdb045;
}
input{
    max-width:800px;
    width: 100%;
    height:30px
    
}
textarea{
    max-width:800px;
    height:150px;
    width: 100%;
    margin: auto;
}
label{
    color:#008A77;
    font-size: 24px;
   font-family: "El Messiri", sans-serif;
   text-transform:capitalize;
   padding:10px 0px;
   max-width: 800px;
}
form{
    max-width: 800px;
    width:100%;
}
.submitContact{
    margin-top: 20px;
    padding: 5px 0px;
    font-size: 18px;
    font-family: "El Messiri", sans-serif;
    border-radius: 5px;
    border: 0px solid;
}


/* Animation pour les div contenant les champs du formulaire */
.containLeft form div {
    opacity: 0; /* Les divs sont initialement transparents */
    animation: fadeIn 0.5s ease forwards; /* Animation pour afficher les divs */
  }
  
  /* Définition de l'animation pour afficher les divs */
  @keyframes fadeIn {
    from {
      opacity: 0; /* Début de l'animation : div transparent */
      transform: translateY(-20px); /* Translation vers le haut */
    }
    to {
      opacity: 1; /* Fin de l'animation : div opaque */
      transform: translateY(0); /* Aucune translation */
    }
  }
  
  /* Décalage d'animation pour chaque div du formulaire */
  .containLeft form div:nth-child(1) {
    animation-delay: 2.2s; /* Décalage de 0.2 secondes pour le premier div */
  }
  
  .containLeft form div:nth-child(2) {
    animation-delay: 2.4s; /* Décalage de 0.4 secondes pour le deuxième div */
  }
  
  .containLeft form div:nth-child(3) {
    animation-delay: 2.6s; /* Décalage de 0.6 secondes pour le troisième div */
  }
  
  .containLeft form div:nth-child(4) {
    animation-delay: 2.8s; /* Décalage de 0.8 secondes pour le quatrième div */
  }
  
  .containLeft form div:nth-child(5) {
    animation-delay: 1s; /* Décalage de 1 seconde pour le cinquième div */
  }
  

  @media screen and (max-width: 1400px) and (min-width: 1024px){
    .textContact{
      margin-left: 10px;
    }
    .containContact{
      max-width: 1000px;
      padding-bottom: 0px;
    }
    .containRight{
      max-width: 400px;
    }
    .containLeft{
      max-width: 580px;
    }
    label{
      font-size: 18px;
    }
    .textContact{
      position: relative;
    bottom: 120px;
    margin-left: 20px;
    padding-top: 50px;
    max-width: 380px;
    }
  }
  @media screen and (max-width: 1023px) and (min-width: 900px){
      .containRight{
        max-width: 350px;
      }
      .containLeft{
        max-width: 400px;
      }
      .textContact{
        margin-left: 0px;
      }
  }
  @media screen and (max-width: 899px) and (min-width: 768px){
      .textContact{
        max-width: 250px;
      }
      label{
        font-size: 16px;
      }
  }
  @media screen and (max-width: 767px) and (min-width: 600px){
      label{
        font-size: 14px;
      }
      .submitContact{
        font-size: 14px;
      }
      .textContact{
        max-width: 200px;
        position: relative;
        bottom: 100px;
        margin-left: 20px;
        padding-top: 0px;
      }
      .containLeft{
        position: relative;
        bottom: 50px;
      }
  }
  @media screen and (max-width: 599px) {
    label{
      font-size: 14px;
    }
    .submitContact{
      font-size: 14px;
    }
    .textContact{
      max-width: 375px;
    margin:auto;
    padding-top: 0px;
    }
    .containLeft{
      position: relative;
      bottom: 50px;
    }
    .containRight{
      max-width: 375px;
      width: 100%;
    }
    .containContact{
      flex-direction: column;
    }
  }
  
 