#contact{
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding-bottom: 200px;
}
.textContact{
    position: relative;
    bottom: 100px;
    margin-left: 50px;
    padding-top: 50px;
}
.containContact{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding-bottom: 200px;
    padding-top: 50px;
}
.containRight{
    max-width: 530px;
    width: 80%;
    margin: auto;
}
.containleft{
    max-width: 700px;
    width: 100%;
    margin: auto;
}
input, textarea{
    border: 0px;
    background-color: #5ebdb045;
}
input{
    max-width:800px;
    width: 100%;
    height:30px
    
}
textarea{
    max-width:800px;
    height:150px;
    width: 100%;
    margin: auto;
}
label{
    color:#008A77;
    font-size: 24px;
   font-family: "El Messiri", sans-serif;
   text-transform:capitalize;
   padding:10px 0px;
   max-width: 800px;
}
form{
    max-width: 800px;
    width:100%;
}
.submitContact{
    margin-top: 20px;
    padding: 5px 0px;
    font-size: 18px;
    font-family: "El Messiri", sans-serif;
    border-radius: 5px;
    border: 0px solid;
}