.footerBack{
    display: flex;
    max-width: 1800px;
    width: 100%;
    margin: auto;
}
.footer{
    max-width: 3500px;
    width: 100%;
    border-top: 3px solid #CC9789;
    border-style: double;

}
.logofooter{
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.textfooter{
    max-width: 1000px;
    width: 100%;
    margin: auto;

}
.textfooter a {
    text-decoration: none;
    font-size: 22px;
    font-family: "Bodoni Moda", serif;
    font-weight: 700;
    color: #CC9789;;
}
.textfooter ul{
    list-style-type: none;
    max-width: 300px;
    width: 100%;
    margin:0px;
    display: flex;
    padding-top: 30px;
}
.listReseaux li a:hover{
    border: 0px;
}
