.nav{
    display: flex;
    list-style-type: none;
    max-width: 900px;
}
.nav a{
    font-size: 28px;
    font-style: normal;
    text-transform: uppercase;
    color:#F18971;
}
.nav a:hover{
    text-decoration: line-through;
}
li{
    text-decoration: none;
}

