.portrait img {
    filter: blur(10px); /* Flou initial à 0% */
    animation: sharpness 18s forwards; /* Animation de 0% à 100% sur 5 secondes */
  }
  
  @keyframes sharpness {
    from {
      filter: blur(10px); /* Début de l'animation, flou à 10px */
    }
    to {
      filter: blur(0px); /* Fin de l'animation, netteté totale (0px de flou) */
    }
  }
  