#portfolio{
    background: linear-gradient(90deg, #f18971, transparent);
    max-width: 2400px;
    position: relative;
    bottom: 150px;
    z-index: 0;
    position: relative;
    bottom: 400px;
}
.portfolio{
    max-width: 1400px;
    width:100%;
    margin: auto;
}
.portfolioMe h1{
    border-top: 0px;
    text-shadow: none;
    color: #0D3653;
    padding-top: 50px;
}
.portfolioContent ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1400px;
    width: 100%;
}
.portfolioContent ul li {
    max-width: 1400px;
    width:100%;
    margin: auto;
    display: block;
}
.portfolioContent img{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    height: 500px;
    object-fit: contain;
}
.overlay span{
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: overline;
}
.containSite{
    max-width: 1400px;
    width: 100%;
    margin: auto;
    position: relative;
    top: 70px;
}
.containSite h2{
    font-family: "Dancing Script", cursive;
    color: #0D3653;
    font-size: 50px;
    
}
.containSite p{
    font-size: 22px;
    color: #0D3656;
    font-style: oblique;
    text-align: left;
}
.fullstack{
    position: relative;
    bottom: 80px
}
.carousel-buttons{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 700px;
}
.carousel-buttons svg{
    font-size: 65px;
    color:#0D3653;
}
.carousel-buttons button{
    background: none;
    border: 0px;
}
.carousel-dots {
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    bottom: 350px;
  }
  
  .carousel-dots span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0d365365;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-dots span.active {
    background-color: #0D3653;
    width: 18px;
    height: 18px;
  }
  


  @media screen and (max-width: 1400px) and (min-width: 1024px){
    .containSite h2{
        font-size: 45px;
    }
    .overlay span{
        font-size: 20px;
    }
    .containSite p{
        font-size: 18px;
    }
    .carousel-buttons svg{
        font-size: 55px;
    }
    .carousel-buttons{
        bottom: 600px;
    }
    .carousel-dots{
        bottom: 300px;
    }
    
  }
  @media screen and (max-width: 1023px) and (min-width: 900px){
     .prev{
        max-width: 100px;
        position: relative;
        top: 50px;
        right: 150px;
      }
       .next{
        max-width: 100px;
        position: relative;
        top: 50px;
        left: 150px;
      }
      .containSite h2{
        font-size: 45px;
      }
      .containSite{
        top: 30px;
      }
      .overlay span{
        font-size: 20px;
      }
      .carousel-dots span{
        width: 10px;
        height: 10px;
      }
      .carousel-dots span.active{
        width: 13px;
        height: 13px;
      }
      .portfolioContent{
        height: 650px;
      }
  }
  @media screen and (max-width: 899px) and (min-width: 768px){
    #portfolio{
        height:800px
    }
    .containSite{
        top: 20px;
    }
      .containSite p{
        font-size: 16px;
      }
      .containSite h2{
        font-size: 40px;
      }
      .overlay span{
        font-size: 20px;
      }
      .carousel-dots span{
        width: 8px;
        height: 8px;
      }
      .carousel-dots span.active{
        width: 10px;
        height: 10px;
      }
      .prev{
        max-width: 80px;
        position: relative;
        top: 50px;
        right: 130px;
      }
      .next{
        max-width: 80px;
        position: relative;
        top: 50px;
        left: 130px;
      }
  }
  @media screen and (max-width: 767px) and (min-width: 600px){
    .prev{
      max-width: 80px;
      position: relative;
      top: 0px;
      right: 80px;
    }
    .next{
      max-width: 80px;
      position: relative;
      top: 0px;
      left: 80px;
    }
    .portfolioContent img{
      max-width: 350px;
      position: relative;
      bottom: 50px;
    }
    .carousel-dots span.active{
      width: 10px;
      height: 10px;
    }
    .carousel-dots span{
      width: 7px;
      height: 7px;
    }
    .carousel-dots{
      bottom: 500px;
    }
    .containSite h2{
      font-size: 35px;
    }
    .overlay span{
      font-size: 18px;
    }
    .containSite p{
      font-size: 15px;
    }
    .containSite{
      position: relative;
    top:-100px;
  
    }
    #portfolio{
      height: 670px;
    border-radius: 30px;
    }
   
  }
  @media screen and (max-width: 599px) {
    #portfolio{
      background: none;
      max-width: 599px;
      height: 480px;
    }
    .carousel-buttons{
      position: relative;
      bottom: 750px;
    }
    .portfolioContent img{
      max-width: 250px;
      width: 100%;
      margin: auto;
      height: 300px;
      object-fit: contain;
    }
    .carousel-dots span{
      height:7px;
      width:7px;
    }
    .carousel-dots span.active{
      height:10px;
      width:10px;
    }
    .carousel-dots{
      position: relative;
    bottom: 420px;
    }
    .containSite{
      position: relative;
      top: 0px;
    }
    .containSite h2{
      font-size: 30px;
    }
    .overlay span{
      font-size: 18px;;
    }
    .containSite p{
      font-size: 14px;
    }
  }
    
  
  